<h1>Wing Orders</h1>

<div class=".wing_orders">
<%  @wing_orders.each do |wing_order| %>
  <div class=".wing_order">
    <h2><%= wing_order.customer_name %></h2>
    <p><%= wing_order.city %></p>
    <p>Quantity: <%= wing_order.quantity %></p>
    <p>Ranch? <%= wing_order.ranch_dressing ? "Yes" : "No" %></p>
  </div>
  <p> <%= link_to 'Edit Wing Order', edit_wing_order_path(wing_order) %> </p>
  <p> <%= link_to 'Delete Wing Order', wing_order_path(wing_order),
    method: :delete,
    data: { confirm: 'REALLY????' }  %> </p>
  <hr />
<% end %>
</div>

<%= link_to "New Order", new_wing_order_path %>
